* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222d32;
    background-image: url(../img/PM1132_Ambience.jpeg);
    background-attachment: fixed;
    background-size: cover;
}

h1, h2, h3, p {
    cursor: default;
}

:root {
    --glass-color: rgba(255, 255, 255, .3);
    --shadow-color: rgba(0, 0, 0, .2);
}

.form-msg {
    max-width: 400px;
    font-family: montserratregular;
    font-size: 1.1rem;
    height: 1.1rem;
    margin-top: 18px;
    font-weight: 600;
    color: #222;
}

body * {
    font-family: montserratsemibold, Arial, Helvetica;
}

h1, h2, h3, nav a, input[type="submit"] {
    font-family: montserratbold, Arial, Helvetica;
} 

header {
    position: absolute;
    top: 0;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, .3);

    /* blur behind the element */
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    -moz-backdrop-filter: blur(2px);
}

header h1, header a, header button {
    color: #7BBF41;
    text-shadow: -2px -2px 4px #333;
    font-weight: 600;
}

header h1 {
    margin-left: 50px;
}

header nav {
    display: flex;
    font-weight: 600;
}

header nav button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

header nav a, header nav button {
    text-decoration: none;
    font-size: 1.3em;
    margin-right: 30px;
    transition: all ease .3s;
}

header nav a:hover, header nav button:hover {
    color: #fff;
    text-shadow: 1px 1px 6px #ddd;
}

/* ----------- MAIN ---------- */

main {
    margin-top: 90px;
    padding-top: 5rem;
    padding-bottom: 5rem;
    min-height: calc(100vh - (160px));
}

/* ------ HOME ------ */

#home-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 6rem;
    color: #7BBF41;
}

#home-container h2 {
    font-size: 3rem;
    text-shadow: 4px 4px 4px #222;
}

#home-container p {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    text-align: center;
    line-height: 2em;
    text-shadow: 2px 2px 4px #222;
    font-weight: 600;
}

#home-container p a {
    color: inherit;
    text-decoration: none;
}

#home-container p a:hover {
    text-decoration: underline;
}

/* ------ FORM ------ */

main .form-container {
    position: relative;
    display: flex;
    justify-content: center;
}

main .form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--glass-color);
    padding: 3rem 6rem;
    border-radius: 20px;
    border-left: 1px solid var(--glass-color);
    border-top: 1px solid var(--glass-color);

    /* blur behind the element */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);

    /* box-shadow: x y blur spread color */
    box-shadow: 20px 20px 40px -6px var(--shadow-color);
    text-align: center;
}

main .form-container form h2,
main .form-container form p {
    opacity: .9;
    text-shadow: 2px 2px 4px var(--shadow-color);
}

main .form-container form h2 {
    color: #fff;
    margin-bottom: 2em;
}

main .form-container form .form-paragraph {
    color: #fff;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 1em;
    line-height: 1.5em;
}

main .form-container form input,
main .form-container form button,
main .form-container form textarea {
    display: block;
    background-color: transparent;
    border: none;
    border-left: 1px solid var(--glass-color);
    border-top: 1px solid var(--glass-color);
    padding: 1rem;
    border-radius: 50px;

    /* blur behind the element */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);

    /* box-shadow: x y blur spread */
    box-shadow: 4px 4px 60px var(--shadow-color);
    color: #fff;
    text-shadow: 2px 2px 4px var(--shadow-color);
    transition: all .3s;
    margin-top: 2em;
    font-weight: 600;
    outline-color: rgba(50, 50, 50, .3);
}

main .form-container form input[type='text'],
main .form-container form input[type='email'],
main .form-container form input[type='password'],
main .form-container form textarea {
    font-size: 1rem;
}

main .form-container form textarea {
    padding: 2rem;
    overflow: hidden;
}

main .form-container form input:hover,
main .form-container form button:hover,
main .form-container form input[type='text']:focus,
main .form-container form input[type='email']:focus,
main .form-container form input[type='password']:focus,
main .form-container form textarea:focus,
main .form-container form textarea:hover {
    background-color: rgba(255, 255, 255, .1);
    box-shadow: 4px 4px 60px 8px var(--shadow-color);
}

main .form-container form input[type='submit'],
main .form-container form button {
    cursor: pointer;
    margin-top: 1.8em;
    font-size: 1.5rem;
    width: fit-content;
}

main .form-container form input::placeholder {
    color: #ddd;
}

/* ----------- TODOLIST ---------- */

main .form-container form#add-task {
    margin-top: 60px;
}

main .form-container form#add-task input[type='text'] {
    width: 600px;
}

main .form-container form#add-task button {
    /* font-size: 20px; */
    color: #5467BF;
    text-shadow: 2px 2px 4px var(--glass-color);
    
}

main .todolist-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ddd;
    /* header & footer size + paddings */
    /* min-height: calc(100vh - (160px + 10rem)); */
}

main .todolist-container .form-container {
    margin-bottom: 50px;
}
/* #417ebf */
main .todolist-container h2 {
    font-size: 2.3rem;
    color: #7BBF41;
    text-shadow: var(--shadow-color) -6px -4px 10px;
    margin-bottom: 20px;
}

main .todolist-container hr {
    margin: 3rem 0 5rem;
    border-color: #7BBF41;
    width: 60%;
}

main .todolist-container .task {
    width: 800px;
    background-color: var(--glass-color);
    border: none;
    border-left: 1px solid var(--glass-color);
    border-top: 1px solid var(--glass-color);
    padding: 30px 40px;
    margin-bottom: 25px;

    /* blur behind the element */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);

    color: #eee;
    border-radius: 20px;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */

    position: relative;
}

main .todolist-container .task .displayed-date {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

main .todolist-container .task p {
    font-family: montserratsemibold, Arial, Helvetica;
    width: 70%;
    margin-right: 60px;
}

main .todolist-container .task .finish-task,
main .todolist-container .task .delete-task {
    display: block;
    border: none;

    padding: .4rem;
    border-radius: 50px;

    /* blur behind the element */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);

    /* box-shadow: x y blur spread */
    box-shadow: 4px 4px 60px var(--shadow-color);
    color: #fff;
    text-shadow: 2px 2px 4px var(--shadow-color);
    transition: all .3s;
    font-weight: 600;
    outline-color: rgba(50, 50, 50, .3);

    cursor: pointer;
}

main .todolist-container .task .finish-task {
    background-color: rgba(220, 220, 220, .5);
    color: #333;
    margin-right: 20px;
}

main .todolist-container .task .finish-task:hover {
    background-color: rgba(220, 220, 220, .8);
    box-shadow: 4px 4px 60px 8px var(--shadow-color);
}

main .todolist-container .task .delete-task {
    
    border-left: rgba(191, 81, 46, .5);
    border-top: rgba(191, 81, 46, .5);
    background-color: rgba(191, 81, 46, .5);
    /* background-color: rgb(191, 81, 46, .5); */
}

main .todolist-container .task .delete-task:hover {
    background-color: rgba(191, 81, 46, .8);
    box-shadow: 4px 4px 60px 8px var(--shadow-color);
}

/* ----------- FOOTER ---------- */

footer {
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer a {
    color: #eee;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer i::before {
    font-size: 27px;
    color: #ddd;
    padding: 8px;
    border: 2px solid #ddd;
    border-radius: 8px;
    transition: all .3s ease;
}

footer i:hover::before {
    color: #333;
    background-color: #ddd;
}